*{
    margin: 0;
    padding: 0;
    font-family: 'Poppind', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vb;
    background-image: url(images/linkedin_background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
    height: 70px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: aqua;
}
/* -----------about----------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;  
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-title{
    display: flex;
    margin: 20px 0 10px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(5, 177, 177);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

a {
    text-decoration: none; /* remove default underline */
    color: #ababab; /* set link color */
    font-size: 16px; /* set font size */
  }
  

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #fff;
    font-size: 18px;
}
.tab-contents{
    display: block;
}
.tab-contents.active-tab{
    display: block;
}

/*-------------skills(interests)----------------*/
#interests{
    padding: 30px 0;
}
.interests-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.interests-list div{       /*---interest data scintist, DA, Machine Learning Enginer Background size---*/
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.interests-list div i{        /*---Interest  data scintist, DA, Machine Learning Enginer Logo size---*/
    font-size: 50px;
    margin-bottom: 30px;
}
.interests-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.interests-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.interests-list div:hover{
    background: rgb(5, 177, 177);
    transform: translateY(-10px);
}
/*---------------------------------------------------certificates---------------------------------------*/
#certificates{
    padding: 50px 0;
}
.image-caption {
    position: absolute;
    top: 10px; /* Adjust this value to position the caption as desired */
    left: 10px; /* Adjust this value to position the caption as desired */
    background-color: rgb(5, 177, 177);
    color: white;
    padding: 5px;
    border-radius: 5px;
    
}
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{      /*---------------certificate text and center-------------*/ 
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(5, 177, 177));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{        /*---------------certificate link logo-------------*/ 
    margin-top: 20px;
    color: rgb(5, 177, 177);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(5, 177, 177);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(5, 177, 177);
}







/*---------------project-------------*/
#project{
    padding: 50px 0;
}
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{      /*---------------project text and center-------------*/ 
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(5, 177, 177));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{        /*---------------project link logo-------------*/ 
    margin-top: 20px;
    color: rgb(5, 177, 177);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(5, 177, 177);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(5, 177, 177);
}

/*-------------------contact------------------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: rgb(5, 177, 177);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: rgb(5, 177, 177);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: rgb(5, 177, 177);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}
/* --------code for animation of dawnload button- ---*/
.download-button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
}

.download-button:hover {
    transform: translateX(-2px);
    background-color: #d31386;
}

.button-text {
    display: inline-block;
}

.arrow-icon {
    display: inline-block;
    margin-left: 5px;
    transform: translateY(0);
    transition: transform 0.4s;
}

.download-button:hover .arrow-icon {
    transform: translateY(4px);
    animation: shake 0.5s ease infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}

/*--------------CSS For Small Screen---------------*/
nav .fas{
    display: none;
}


@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/linkedin_bg_for_mobile.png);
        background-size: cover;
        background-position: center top;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font: size 25px;;
    }
    nav ul{
        background: rgb(5, 177, 177);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
