*{
    margin: 0;
    padding: 0;
    font-family: 'Poppind', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #313030;
    color: #fff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 15px 30px rgba(5, 240, 240, 0.746);
}

.logo{
    width: 200px;
    height: 70px;
    box-shadow: 0 15px 30px rgba(5, 240, 240, 0.746);
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: aqua;
}
/* -----------about----------- */
#about {
    padding: 80px 0;
    color: #e0e0e0;
    background-color: #121212;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(5, 240, 240, 0.746);
}

.about-col-2 {
    flex-basis: 60%;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 30px 30px rgba(0, 255, 255, 0.1);
}

.sub-title {
    font-size: 48px;
    font-weight: 700;
    color: #00ffff;
    margin-bottom: 20px;
}

.about-text {
    font-size: 18px;
    line-height: 1.8;
    color: #ccc;
}

.tab-title {
    display: flex;
    margin: 30px 0 10px;
}

.edu-heading {
    font-weight: bold;
    color: #00ffff;
    font-size: 28px;
    border-bottom: 2px solid #00ffff;
    padding-bottom: 5px;
}

.tab-contents ul li {
    list-style: none;
    margin: 15px 0;
    font-size: 17px;
    line-height: 1.6;
}

.tab-contents ul li span {
    display: block;
    color: #00ffff;
    font-size: 19px;
    font-weight: 600;
}

.highlight {
    color: #ffa500;
    font-weight: 500;
}

.tab-contents {
    display: block;
}

a {
    text-decoration: none;
    color: #00ffff;
    font-size: 16px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #00ffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}



/*-------------skills(interests)----------------*/
#interests{
    padding: 30px 0;
}
.interests-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.interests-list div{       /*---interest data scintist, DA, Machine Learning Enginer Background size---*/
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 0 15px 30px rgba(5, 240, 240, 0.746);
}
.interests-list div i{        /*---Interest  data scintist, DA, Machine Learning Enginer Logo size---*/
    font-size: 50px;
    margin-bottom: 30px;
}
.interests-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.interests-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.interests-list div:hover{
    background: rgb(5, 177, 177);
    transform: translateY(-10px);
}
/*---------------------------------------------------certificates---------------------------------------*/
#certificates{
    padding: 50px 0;
}
.image-caption {
    position: absolute;
    top: 10px; /* Adjust this value to position the caption as desired */
    left: 10px; /* Adjust this value to position the caption as desired */
    background-color: rgb(5, 177, 177);
    color: white;
    padding: 5px;
    border-radius: 5px;
    
}
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(5, 240, 240, 0.746);
}
.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{      /*---------------certificate text and center-------------*/ 
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(5, 177, 177));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{        /*---------------certificate link logo-------------*/ 
    margin-top: 20px;
    color: rgb(5, 177, 177);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(5, 177, 177);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(5, 177, 177);
}








/*---------------project-------------*/
#project{
    padding: 50px 0;
}
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{      /*---------------project text and center-------------*/ 
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgb(5, 177, 177));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{        /*---------------project link logo-------------*/ 
    margin-top: 20px;
    color: rgb(5, 177, 177);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}


.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(5, 177, 177);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}




.btn:hover{
    background: rgb(5, 177, 177);
}

/*-------------------contact------------------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: rgb(5, 177, 177);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: rgb(5, 177, 177);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: rgb(5, 177, 177);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}
/* --------code for animation of dawnload button- ---*/
.download-button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(5, 177, 177);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
}

.download-button:hover {
    transform: translateY(-8px);
    background-color: rgb(5, 177, 177);
}

.button-text {
    display: inline-block;
}
.button-text:hover {
    transform: translateY(8px);
}

.arrow-icon {
    display: inline-block;
    margin-left: 5px;
    transform: translateY(0);
    transition: transform 0.4s;
}

.download-button:hover .arrow-icon {
    transform: translateY(-4px);
    animation: shake 0.5s ease infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}

/* social media on the first page ----------------------------------*/
/* Add these styles for the expanding social media icons */
.social-icons-front {
    position: fixed;
    bottom: 50%;
    right: 10px;
    transform: translateY(50%);
    background-color: #333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons-front a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
    transition: transform 0.3s;
  }
  
  .social-icons-front a:hover {
    transform: scaleX(1.2) translateX(-20%);
    color: rgb(5, 177, 177);
  }
  .social-icons-front a:hover::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    right: 100%; /* Adjust the distance from the icon */
    transform: translateY(-50%);
    background: aqua;
    color: rgb(14, 14, 14);
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0.8;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, right 0.3s ease-in-out;
}

.social-icons-front a:hover:hover::before {
    right: 25px; /* Adjust the final position of the text */
}






/*--------------CSS For Small Screen---------------*/
nav .fas{
    display: none;
}


@media only screen and (max-width: 768px){
    nav .fas{
        display: block;
        font: size 25px;;
    }
    nav ul{
        background: rgb(5, 177, 177);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
